<app-navbar></app-navbar>
    <button matButton="outlined" style="margin: 5px;"  [routerLink]="'/start'">
        altas y bajas
    </button>
<div class="filters">

    <button (click)="cargarDatos()">consultar</button>
  <!-- Dropdown de empresa -->
  <label>Empresa:</label>
  <select [(ngModel)]="selectedEmpresa" (change)="onEmpresaChange()">
    <option value="" disabled selected>Seleccione empresa</option>
    <option *ngFor="let emp of empresas" [value]="emp">{{ emp }}</option>
  </select>

  <!-- Dropdown de fecha -->
  <label>Fecha:</label>
  <select [(ngModel)]="selectedFecha" (change)="onFechaChange()">
    <option value="" disabled selected>Seleccione fecha</option>
    <option *ngFor="let fecha of fechas" [value]="fecha">{{ fecha }}</option>
  </select>
</div>

<!-- AG Grid -->
<ag-grid-angular
  style="width: 100%; height: 400px;"
  class="ag-theme-alpine"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  [defaultColDef]="{ sortable: true, filter: true }">
</ag-grid-angular>
