
<app-navbar></app-navbar> 
<!-- <app-progresbar></app-progresbar> -->
 <br>
<div class="paginatorMainContainer">
<mat-tab-group class="paginatorContainer">
    <mat-tab label="Riesgo Semanal Pasado" > 
        <app-table-viewer [lastEmploys]="lastEmploysXlsData"></app-table-viewer>
    </mat-tab>
    <mat-tab  label="Inventario Actual" [disabled]="steps < 2"> 
        <!-- <iframe [src]="pdfUrl" width="30%" height="400px">   </iframe> -->
    <app-table-viewer #tableViewer [currentEmploys]="currentEmploysXlsData"></app-table-viewer>   
</mat-tab>
    <mat-tab label="Altas y modificaciones" [disabled]="steps < 3"> 
        <app-table-turnover #tableViewerturnover [turnOverEmployee]="turnOverEmployeeXlsData"></app-table-turnover>
    </mat-tab>
    <!-- <mat-tab label="Third"> Content 3 </mat-tab> -->
</mat-tab-group>

</div>
<label for="fileInput">
  Cargar archivo de empleados pasados (Excel .xlsx o .xls)
</label>
<input type="file" (change)="onFileChange($event)" accept=".xlsx,.xls" />
<br>

<label for="fileInput">
  Cargar archivo inventario actual (Excel .xlsx o .xls)
</label>
<input type="file" (change)="onFileChange2($event)" accept=".xlsx,.xls" />
<br>

<label for="fileInput">
  Calcualr altas y bajas
</label>
<!-- <h1 *ngIf="calculado">
  Calcualr altas y bajas
</h1> -->
<button (click)="calcTurnOver()">calcular altas y bajas</button>
<br>
<label for="fileInput" *ngIf="calculado">
  Revision de altas finalizado
</label>


<!-- <button (click)="generarPDF()">Generar PDF</button>
<button (click)="previsualizarPDF()">Previsualizar PDF</button>
<button (click)="generarTablaPDF()">generarTablaPDF</button> -->