
<app-navbar></app-navbar>


    <br>
    <button matButton="outlined" style="margin: 5px; margin-left: 100px;"  [routerLink]="'/old-turnover'">
        consultar movimientos
    </button>
<div class="actionsContainer">

  <div *ngIf="currentUserRol === 'contralord'"  style="height: 100px; padding-top: 70px;">
 <!-- <button matButton (click)="openDialog()">AGREGAR</button> -->
    <button matButton="outlined" style="margin: 5px;" (click)="openDialog()">
      <span class="material-symbols-outlined">
        person_add
      </span>
    </button>

    <button matButton="outlined" style="margin: 5px;" (click)="deleteDialog()">
      <span class="material-symbols-outlined">
        person_cancel
      </span>
    </button>

    <button matButton="outlined" style="margin: 5px;"(click)="editDialog()">
      <span class="material-symbols-outlined">
      person_edit
      </span>
    </button>
  </div>
  <div style="width: 40%; height: 70px;"> <app-progresbar></app-progresbar></div>

</div>



<div class="paginatorMainContainer">
<mat-tab-group class="paginatorContainer">
    <mat-tab label="Riesgo Semanal Pasado" >
        <app-table-viewer [lastEmploys]="lastEmploysXlsData"></app-table-viewer>
    </mat-tab>
    <mat-tab  label="Inventario Actual" [disabled]="steps < 2">
        <!-- <iframe [src]="pdfUrl" width="30%" height="400px">   </iframe> -->
    <app-table-viewer #tableViewer [currentEmploys]="currentEmploysXlsData"></app-table-viewer>
</mat-tab>
    <mat-tab label="Altas y modificaciones" [disabled]="steps < 3">
        <app-table-turnover #tableViewerturnover [turnOverEmployee]="turnOverEmployeeXlsData"></app-table-turnover>
    </mat-tab>
    <!-- <mat-tab label="Third"> Content 3 </mat-tab> -->
</mat-tab-group>

</div>
<br>
<div style="margin-left: 100px;">

<!-- Primer input -->
<button matButton="filled" (click)="fileInput.click()" style="margin: 10px; ">
  <span style="display: flex; justify-content: center; flex-direction: row; align-items: center;">
    <span>INVENTARIO PASADO</span>
    <span *ngIf="!iconDone" class="material-symbols-outlined" style="margin-left: 5px;">file_upload</span>
    <span *ngIf="iconDone" class="material-symbols-outlined"> download_done </span>
  </span>
</button>
<input #fileInput type="file" (change)="onFileChange($event)" accept=".xlsx,.xls" style="display: none;" />
<span *ngIf="selectedFileName" style="margin-left: 10px; font-style: italic;">
  {{ selectedFileName }}
</span>

<br>

<!-- Segundo input -->
<button matButton="filled" (click)="fileInput2.click()" style="margin: 10px;">
  <span style="display: flex; justify-content: center; flex-direction: row; align-items: center;">
    <span>INVENTARIO ACTUAL</span>
    <span *ngIf="!iconDone2" class="material-symbols-outlined" style="margin-left: 5px;">file_upload</span>
    <span *ngIf="iconDone2" class="material-symbols-outlined"> download_done </span>
  </span>
</button>
<input #fileInput2 type="file" (change)="onFileChange2($event)" accept=".xlsx,.xls" style="display: none;" />
<span *ngIf="selectedFileName2" style="margin-left: 10px; font-style: italic;">
  {{ selectedFileName2 }}
</span><br>

<button matButton="filled" (click)="calcTurnOver()" style="margin: 10px;">calcular altas y bajas</button>

<label for="fileInput" *ngIf="calculado">
  Revision de altas finalizado
</label>
</div>

<!--
<button (click)="generarPDF()">Generar PDF</button>
<button (click)="previsualizarPDF()">Previsualizar PDF</button>
<button (click)="generarTablaPDF()">generarTablaPDF</button> -->
