.paginatorContainer{
  width: 90%;
  border: 2px solid rgb(211, 210, 210);
  border-radius: 6px;
}

.paginatorMainContainer{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.tabContainer{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}
.actionsContainer{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-left: 100px;
    height: 120px;
    /* padding: 100px */
}
