
.formLogin {
width: 40%;
}

.formContainer{
 display: flex;
 width: 100%;
 justify-content: center;
 margin: 10px;
}
.formInputsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}