<div class="formContainer">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-4 max-w-7xl mx-auto" class="formLogin">
        <mat-card appearance="outlined">
            <mat-card-content class="">
                <div class="grid md:grid-cols-2 gap-6 formInputsContainer">
                    <div class="flex flex-col space-y-4 p-4">
                        <img ngSrc="https://ui.angular-material.dev/app-ui/logo.svg" alt="Logo" height="48" width="48"
                            class="inline" />
                        <h1 class="text-3xl">Sign in</h1>
                        <p>to continue to GP Application</p>
                    </div>

                    <div class="flex flex-col space-y-2 p-4 md:mt-12" style="width: 60%; margin: 10px;">
                        <mat-form-field class="w-full" style="width: 100%; margin: 5px;">
                            <mat-label>Email</mat-label>
                            <input matInput type="email" formControlName="email" />
                            @if (
                            (form.get('email')?.touched || form.get('email')?.dirty) &&
                            form.get('email')?.hasError('required')
                            ) {
                            <mat-error>
                                <mat-icon class="form-field-error-icon">error</mat-icon>
                                Email is required</mat-error>
                            }
                            @if (
                            (form.get('email')?.touched || form.get('email')?.dirty) &&
                            form.get('email')?.hasError('email')
                            ) {
                            <mat-error>
                                <mat-icon class="form-field-error-icon">error</mat-icon>
                                Email is invalid
                            </mat-error>
                            }
                        </mat-form-field>
                        <br>
                        <mat-form-field class="w-full" style="width: 100%; margin: 5px;">
                            <mat-label>Password</mat-label>
                            <input matInput type="password" formControlName="password" />
                            @if (
                            (form.get('password')?.touched || form.get('password')?.dirty) &&
                            form.get('password')?.hasError('required')
                            ) {
                            <mat-error>
                                <mat-icon class="form-field-error-icon">error</mat-icon>
                                Password is required</mat-error>
                            }
                            @if (
                            (form.get('password')?.touched || form.get('password')?.dirty) &&
                            form.get('password')?.hasError('minlength')
                            ) {
                            <mat-error>
                                <mat-icon class="form-field-error-icon">error</mat-icon>
                                Password must be at least 8 characters
                            </mat-error>
                            }
                        </mat-form-field>
                        <!-- <div class="density-3 forgot-email-container">
                                <a matButton>Forgot password?</a>
                              </div> -->
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions align="end">
                <!-- <a matButton>Create account</a> -->
                <button matButton="filled" type="submit">Sign in</button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>